<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="java"/>
	
	<bean id="restAUTO" class="rest.RESTAuto">
		<constructor-arg name="dao" ref="autoDao"/>
		<constructor-arg name="eiDao" ref="eiDao"/>
	</bean>  

	<bean id="autoDao" class="dao.AutoDAO"/>
	<bean id="eiDao" class="dao.EstadoInspeccionDAO"/>
	
	<bean id="restInspeccion" class="rest.RESTInspeccion">
		<constructor-arg name="dao" ref="inspeccionDao"/>
	</bean>
	
	<bean id="inspeccionDao"  class="dao.InspeccionDAO"/>
	
	<bean id="restInspector" class="rest.RESTInspector">
		<constructor-arg name="dao" ref="inspectorDao"/>
	</bean>
	
	<bean id="inspectorDao" class="dao.InspectorDAO"/>
	
	<bean id="restPropietario" class="rest.RESTPropietario">
		<constructor-arg name="dao" ref="propietarioDao"/>
	</bean>
	
	<bean id="propietarioDao" class="dao.PropietarioDAO"/>
	
</beans>